@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    --text-primary: #9c9c9c;
    --text-secondary: #747474;
    --bg-primary: #131313;
    --bg-secondary: #1e1e1e;
    --custom-primary: #03dac6;
    --custom-primary-trans: #03dac57a;
    --custom-secondary: #3700b3;
    --custom-err: #cf6679;
    --custom-grey: #353535;
    --trasistion-speed: 600ms;
}

body {
    color: black;
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
    background: #57dcbe;
}

main {
    background: var(--bg-secondary);
    color: var(--custom-primary);
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    background-color: var(--bg-primary);
    transition: 300ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--trasistion-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color: var(--custom-primary)
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 20rem;
}

.navbar:hover .link-text {
    display: block;    
}

.svg-inline--fa {
    color: var(--custom-primary);
}

.svg-inline--fa {
    transition: var(--trasistion-speed);
}


.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--trasistion-speed);
    transition: var(--trasistion-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
    transition: transform var(--trasistion-speed);
    transition: var(--trasistion-speed);
}

#table {
    border: 2px solid var(--custom-primary);
    width: 100%;
}

#table tr {
    cursor: pointer;
}

#table td {
    border: 2px solid var(--custom-primary-trans);
    padding: 5px;
}

.table {
    border: 2px solid var(--custom-primary);
    width: 100%;
}

.table tr {
    cursor: pointer;
}

.table td {
    border: 2px solid var(--custom-primary-trans);
    padding: 5px;
}

.float-add{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.float-add {
    position: fixed;
    background-color: var(--custom-grey);
    width: 60px;
    height: 60px;
    bottom: 40px;
	right: 40px;
    border-radius: 100%;
    background: var(--bg-secondary);
    color: var(--custom-primary);
    font-size: 20px;
	box-shadow: 2px 2px 3px var(--bg-primary);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.student-form {
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: var(--bg-primary);
    text-align: center;
    border: solid 2px var(--custom-primary);
    border-radius: 5px;
    transition: 300ms;
    overflow: hidden;
}

.student-form input[type="text"],input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    border: solid 2px var(--custom-primary-trans);
    width: 300px;
    outline: var(--custom-primary);
    color: white;
    border-radius: 10px;
    transition: 300ms;
}

.student-form input[type="text"]:focus,input[type="password"]:hover {
    width: 350px;
    border: solid 2px var(--custom-primary);
}

.student-form input[type="submit"] {
    border: 0;
    background: var(--bg-secondary);
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
    text-align: center;
    border: solid 2px var(--custom-primary);
    outline: var(--custom-primary);
    color: white;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.student-form input[type="submit"]:hover {
    background: var(--custom-primary);
    color: var(--bg-secondary);
}

.form-col1 {
    width: 48%;
    float: left;
}

.form-col2 {
    width: 48%;
    float: right;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--custom-grey);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 